Dockerfile
.env
.vscode/
.github/
# Ignore large and unnecessary files
.git
.gitignore
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.log
*.sqlite3
*.csv
*.mp4
*.png
*.jpg
*.jpeg
*.gif
*.webp
*.zip
*.tar
*.tar.gz
*.ipynb_checkpoints
node_modules/
.env
.venv/
env/
build/
dist/
.cache/
.mypy_cache/
.pytest_cache/
.idea/
.vscode/
