[submodule "submodules/poketwo_autonamer"]
	path = submodules/poketwo_autonamer
	url = https://github.com/cringe-neko-girl/Poketwo-AutoNamer.git
[submodule "submodules/poketwo_spawns"]
	path = submodules/poketwo_spawns
	url = https://github.com/cringe-neko-girl/Poketwo-AutoNamer.git
