discord.py>=2.0.0
scikit-learn
colorama
motor
diffusers
httpx
colorlog
opencv-python-headless
pillow
vaderSentiment
python-Levenshtein
scikit-image
fuzzywuzzy
openai
psutil
GitPython
matplotlib
seaborn
imagehash
scipy
tqdm
graphviz
aiofiles
python-dotenv
asyncio-redis
redis
psutil 
accelerate
huggingface_hub
aiosignal