discord.py>=2.0.0
scikit-learn==1.2.2
colorama
motor
httpx
colorlog
opencv-python-headless
pillow
vaderSentiment
python-Levenshtein
scikit-image
fuzzywuzzy
openai
psutil
GitPython
matplotlib
seaborn
imagehash
scipy
tqdm
graphviz
aiofiles
